/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* Header */
header {
    background-color: #0b4ea2;
    color: white;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-size: 3rem;
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Sections */

#about {
    background-color: rgb(170, 173, 175);
}
section {
    padding: 50px 0;
}

section h2 {
    text-align: center;
    color: #0b4ea2;
    margin-bottom: 20px;
}

section p {
    text-align: center;
    color: green;
    margin: 10px;
}

/* About Section */

#about img {
    display:block;
    max-width: 150px;
    margin: 20px auto;
    border-radius: 50%;

    border: 10px solid green;
}

/* Skills Section */

#skills {
    background-color: lightsteelblue;
}
.skills-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.skill {
    background-color: #f5f5f5;
    padding: 15px 25px;
    border-radius: 10px;
    transition: 0.3s;
}

.skill:hover {
    background-color: #ff6a4d;
    color: white;
    cursor: pointer;
}

/* Projects Section */

#projects {
    background-color: lightgrey;
}
.project {
    text-align: center;
    margin-bottom: 30px;
}

.project img {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

/* Contact Section */
#contact {
    background-color: linen;
}
#contact p, #contact a {
    text-align: center;
    display: block;
    margin: 5px 0;
}

#contact a {
    color: #0b4ea2;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #0b4ea2;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Responsive */
@media(max-width: 768px) {
    .skills-box {
        flex-direction: column;
        align-items: center;
    }
}
